.text_for_mistakes{
/* Текст ошибки */

width: 298px;
left: 20px;
top: 0px;
bottom: -26%;
margin-left: 20px;
/* platform/subt */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 126%;
/* or 15px */

/* black */
color: #0E0E0E;


}

.btnnForRecoveryPasswordPost{
    margin-top: 70px; /* Отступ сверху */
}

._blacknewpod6 {
    background: #69FF12;
    /* width: calc(50%); */
    width: 540px;
    height: 40px;
}

@media (max-width: 1279px) {

    ._blacknewpod6 {
        display: flex
;
        justify-content: center;
        align-items: center;
        height: 23.4px;
        width: calc(100% - 30px);
    }

    .text_for_mistakes{
      font-size: 12px;
        
        
        }
}